@charset "utf-8";
/* CSS Document */
#pantalla01 {
	width:958px;
	height:598px;
	background:rgba(255,255,255,1);
	z-index:2;
	display:none;
	border:rgba(0,0,0,.5) solid 1px;
	}
#hombrevsmujer {
	width:960px;
	height:600px;
	display:block;
	}
#eres {
	position:absolute;
	top:150px;
	left:250px;	
	}
#hombrebtn {
	position:absolute;
	top:250px;
	left:250px;
	display:block;
	cursor:pointer;
	}
#mujerbtn {
	position:absolute;
	top:250px;
	left:550px;
	display:block;
	cursor:pointer;
	}
#avatarhom {
	width:960px;
	height:600px;
	display:none;
	}
#hombresilue {
	position:absolute;
	right:450px;
	top:50px;
	}
#botonerahombre {
	background:url(../images2/filter.png) no-repeat;
	position:absolute;
	width:335px;
	height:305px;
	border-radius:7px;
	top:100px;
	left:80px;
	}
#intruccionesbtnsavatar {
	background:url(../images2/clic_bt_avatar.png) no-repeat;
	width:160px;
	height:80px;
	position:absolute;
	top:170px;
	left:165px;
	}
#botonpeloh1 {
	top:15px;
	left:15px;
	cursor:pointer;
	}
#botonpeloh2 {
	top:15px;
	left:90px;
	cursor:pointer;
	}
#botonpeloh3 {
	top:85px;
	left:15px;
	cursor:pointer;
	}
#botonpeloh4 {
	top:85px;
	left:90px;
	cursor:pointer;
	}
#botonojoh1 {
	top:165px;
	left:15px;
	cursor:pointer;
	}
#botonojoh2 {
	top:165px;
	left:90px;
	cursor:pointer;
	}
#botonojoh3 {
	top:235px;
	left:15px;
	cursor:pointer;
	}
#botonojoh4 {
	top:235px;
	left:90px;
	cursor:pointer;
	}
#botonbocah1 {
	top:15px;
	left:180px;
	cursor:pointer;
	}
#botonbocah2 {
	top:15px;
	left:255px;
	cursor:pointer;
	}
#botonbocah3 {
	top:85px;
	left:180px;
	cursor:pointer;
	}
#botonbocah4 {
	top:85px;
	left:255px;
	cursor:pointer;
	}
#peloh1 {
	position:absolute;
	top:-5px;
	left:580px;
	display:none;
	}
#peloh2 {
	position:absolute;
	top:-5px;
	left:580px;
	display:none;
	}
#peloh3 {
	position:absolute;
	top:18px;
	left:580px;
	display:none;
	}
#peloh4 {
	position:absolute;
	top:18px;
	left:580px;
	display:none;
	}
#ojosh1 {
	position:absolute;
	top:185px;
	left:570px;
	display:none;
	}
#ojosh2 {
	position:absolute;
	top:205px;
	left:615px;
	display:none;
	}
#ojosh3 {
	position:absolute;
	top:200px;
	left:625px;
	display:none;
	}
#ojosh4 {
	position:absolute;
	top:210px;
	left:620px;
	display:none;
	}
#bocah1 {
	position:absolute;
	top:350px;
	left:680px;
	display:none;
	}
#bocah2 {
	position:absolute;
	top:350px;
	left:670px;
	display:none;
	}
#bocah3 {
	position:absolute;
	top:350px;
	left:680px;
	display:none;
	}
#bocah4 {
	position:absolute;
	top:350px;
	left:680px;
	display:none;
	}
#minhombre {
	position:absolute;
	top:13px;
	left:209px;
	display:none;
	cursor:pointer;
	}
#minpeloh1 {
	position:absolute;
	left:215px;
	top:11px;
	display:none;
	}
#minpeloh2 {
	position:absolute;
	left:215px;
	top:11px;
	display:none;
	}
#minpeloh3 {
	position:absolute;
	left:215px;
	top:13px;
	display:none;
	}
#minpeloh4 {
	position:absolute;
	left:215px;
	top:13px;
	display:none;
	}
#minojosh1 {
	position:absolute;
	left:216px;
	top:25px;
	display:none;
	}
#minojosh2 {
	position:absolute;
	left:218px;
	top:25px;
	display:none;
	}
#minojosh3 {
	position:absolute;
	left:218px;
	top:25px;
	display:none;
	}
#minojosh4 {
	position:absolute;
	left:218px;
	top:25px;
	display:none;
	}
#minbocah1 {
	position:absolute;
	left:223px;
	top:36px;
	display:none;
	}
#minbocah2 {
	position:absolute;
	left:223px;
	top:37px;
	display:none;
	}
#minbocah3 {
	position:absolute;
	left:223px;
	top:36px;
	display:none;
	}
#minbocah4 {
	position:absolute;
	left:223px;
	top:36px;
	display:none;
	}
#btnguardaravatar {
	position:absolute;
	top:425px;
	left:185px;
	cursor:pointer;
	}
	
#avatarmuj {
	width:960px;
	height:600px;
	display:none;
	}
#mujersilue {
	position:absolute;
	right:450px;
	top:70px;
	}
#botoneramujer {
	background:url(../images2/filter.png) no-repeat;
	position:absolute;
	width:335px;
	height:305px;
	border-radius:7px;
	top:100px;
	left:80px;
	}
#botonpelom1 {
	top:15px;
	left:15px;
	cursor:pointer;
	}
#botonpelom2 {
	top:15px;
	left:90px;
	cursor:pointer;
	}
#botonpelom3 {
	top:85px;
	left:15px;
	cursor:pointer;
	}
#botonpelom4 {
	top:85px;
	left:90px;
	cursor:pointer;
	}
#pelom1 {
	position:absolute;
	right:450px;
	top:70px;
	display:none;
	}
#pelom2 {
	position:absolute;
	right:450px;
	top:70px;
	display:none;
	}
#pelom3 {
	position:absolute;
	right:450px;
	top:70px;
	display:none;
	}
#pelom4 {
	position:absolute;
	right:450px;
	top:70px;
	display:none;
	}
#ojosm1 {
	position:absolute;
	top:168px;
	left:578px;
	display:none;
	}
#ojosm2 {
	position:absolute;
	top:166px;
	left:588px;
	display:none;
	}
#ojosm3 {
	position:absolute;
	top:162px;
	left:596px;
	display:none;
	}
#ojosm4 {
	position:absolute;
	top:168px;
	left:596px;
	display:none;
	}
#bocam1 {
	position:absolute;
	top:285px;
	left:656px;
	display:none;
	}
#bocam2 {
	position:absolute;
	top:285px;
	left:648px;
	display:none;
	}
#bocam3 {
	position:absolute;
	top:285px;
	left:656px;
	display:none;
	}
#bocam4 {
	position:absolute;
	top:285px;
	left:656px;
	display:none;
	}
#minpelom1 {
	position:absolute;
	left:213px;
	top:18px;
	display:none;
	cursor:pointer;
	}
#minpelom2 {
	position:absolute;
	left:213px;
	top:18px;
	display:none;
	cursor:pointer;
	}
#minpelom3 {
	position:absolute;
	left:213px;
	top:18px;
	display:none;
	cursor:pointer;
	}
#minpelom4 {
	position:absolute;
	left:213px;
	top:18px;
	display:none;
	cursor:pointer;
	}
#minojosm1 {
	position:absolute;
	left:219px;
	top:27px;
	display:none;
	cursor:pointer;
	}
#minojosm2 {
	position:absolute;
	left:220px;
	top:26px;
	display:none;
	cursor:pointer;
	}
#minojosm3 {
	position:absolute;
	left:220px;
	top:26px;
	display:none;
	cursor:pointer;
	}
#minojosm4 {
	position:absolute;
	left:220px;
	top:26px;
	display:none;
	cursor:pointer;
	}
#minbocam1 {
	position:absolute;
	left:225px;
	top:37px;
	display:none;
	cursor:pointer;
	}
#minbocam2 {
	position:absolute;
	left:225px;
	top:37px;
	display:none;
	cursor:pointer;
	}
#minbocam3 {
	position:absolute;
	left:225px;
	top:36px;
	display:none;
	cursor:pointer;
	}
#minbocam4 {
	position:absolute;
	left:225px;
	top:36px;
	display:none;
	cursor:pointer;
	}